extends layout

block content
    h1 Register
    // register form
    form(method='POST' action='/admin/register')
        div.form-group
            label(for='username') Username:
            input#name.form-control(type='text', placeholder='Username', name='username' required)
            span= userError
        div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password' required)
            span= passwordError
        div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password' name='passwordConf')
        div.form-group
            label(for='role') Admin?
            input#admin.form-control(type='checkbox', name='admin')
        button.btn.btn-primary(type='submit') Sign up